.heading{
    margin: 0px;
    box-shadow: 3px 3px 3px grey;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    background-color: aqua;
    color: black;
    font-weight: bold;
    font-size: 23px;
    height: 130px;
}
.note{
    color: black;
}
.canvas{
    border-radius: 15px;
}